.main-paper {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media only screen and (max-device-width: 480px) {
  .main-paper{
    width: 100%;
  }

  .transition-leave {
    left: 0;
  }
}

.transition-enter {
  transform: translate(500vw)!important;
  /*position: absolute;
  top: 64px;
  left: 20%;*/
}

.transition-enter.transition-enter-active {
  /*position: absolute;
  top: 64px;
  left: 20%;*/
  transform: translate(0%)!important;
  transition: transform 1000ms ease-in-out !important;
}

.transition-leave {
  position: absolute;
  top: 64px;
  left: 20%;
  transform: translate(0%)!important;
}

.transition-leave.transition-leave-active {
  /*position: absolute;
  top: 64px;*/
  transform: translate(-100vw)!important;
  transition: transform 1000ms ease-in-out !important;
}