.dialog-label {
  padding-right: 30px;
}

.dialog-left-column {
  width: 70px;
  display: inline-block;
}

.dialog-row {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}