.label {
  padding-right: 30px;
}

.leftColumn {
  width: 70px;
  display: inline-block;
}

.row {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}