.container:first-of-type {
  margin-left: 16px;
}

@media only screen and (max-device-width: 800px) {
  /* push pomo counters onto new line on mobile */
  .container:first-of-type:before {
    content: " ";
    clear: right;
    display: block;
  }
}